body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8;
    color: #131313;
    background-color: #FCFCFC;
}
h1, footer {
    font-family: 'Kelly Slab', cursive;
    background-color:#8C1566; 
    color: #fff;
    text-transform: uppercase;
    text-align: center; 
}
h1{
    padding: 1.5em 0.3em;
}
footer{
    padding: 1em;
    margin-top: 0.6em;
}
h2, h3 {
    color: #168670;
    text-transform: uppercase;
}
footer a{
    color: #fff;
}
a {
    color: #420850;
}
nav a:hover, nav a:focus{
    color: #168670;
    background-color: #d3d3d3;
}
nav a{
    background-color: #8ed3e4;
    padding:0.3em;
}
th, td{
    text-align: left;
    padding: 0.25em 0.35em;
    
}
th {
    background-color: #8C1566;
    color: #fff;
}
tr{
    border-bottom: 0.1em solid  #8C1566;
}
table {
    border-collapse: collapse;
  }
img{
    max-width: 100%;
    height: auto;
}
figcaption{
    color: #168670;
}
video{
    max-width: 100%;
    height: auto;
}