body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8;
    color: #131313;
    background-color: #FCFCFC;
    display: grid;
    grid: "h h h"
          "a b b"
          "f f f";
    grid-template-columns: auto 1fr 20%;
}
nav{
    grid-area: a;
}
main{
    grid-area: b;
    align-content: center;
}
header{
    grid-area: h;
}
h1, footer {
    font-family: 'Kelly Slab', cursive;
    background-color:#8C1566; 
    color: #fff;
    text-transform: uppercase;
    text-align: center; 
}
h1{
    padding: 1.5em 0.3em;
}
footer{
    padding: 1em;
    margin-top: 0.6em;
    grid-area: f;
}
h2, h3 {
    color: #168670;
    text-transform: uppercase;
}
footer a{
    color: #fff;
    padding: 2em;
}
a {
    color: #420850;
}
nav a:hover, nav a:focus{
    color: #131313;
}
nav a{
    padding:0.3em;
}
th, td{
    text-align: left;
    padding: 0.25em 0.35em;
    
}
th {
    background-color: #8C1566;
    color: #fff;
}
tr{
    border-bottom: 0.1em solid  #8C1566;
}
table {
    border-collapse: collapse;
  }
img{
    max-width: 100%;
    height: auto;
}
figcaption{
    color: #8C1566;
}
video{
    max-width: 100%;
    height: auto;
}
#protagonistas{
    display: grid;
    grid: "a b c";
}
#listaProtegonistas{
    grid-area: a;
}
#fig1{
    grid-area: b;
}
#fig2{
    grid-area: c;
}
@media only screen and (max-width: 768px) {
    /* Too narrow to support three columns */
    body { display: block; }
    #protagonistas { display: block; }
  }