/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8;
    color: #131313;
    background-color: #FCFCFC;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
h1, footer {
    font-family: 'Kelly Slab', cursive;
    text-transform: uppercase;
    text-align: center; 
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
h1{
    padding: 1.5em 0.3em;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
footer{
    padding: 1em;
    margin-top: 0.6em;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
h2, h3 {
    color: #168670;
    text-transform: uppercase;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
footer a{
    color: #fff;
    padding: 2em;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
a {
    color: #420850;
}
/*a= 0 b= 1 c= 2 -> Especificidad = 12*/
nav a:hover, nav a:focus{
    color: #131313;
}
/*a= 0 b= 0 c= 2 -> Especificidad = 2*/
nav a{
    padding:0.3em;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
nav{
    padding-right: 1.4em;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
th, td{
    text-align: left;
    padding: 0.25em 0.35em;
    
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
th, h1, footer {
    background-color: #8C1566;
    color: #fff;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
tr{
    border-bottom: 0.1em solid  #8C1566;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
table {
    border-collapse: collapse;
  }
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
img{
    max-width: 100%;
    height: auto;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
figcaption{
    color: #8C1566;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
video{
    max-width: 100%;
    height: auto;
}