/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
body {
    display: grid;
    grid: "h h h"
          "a b b"
          "f f f";
    grid-template-columns: auto 1fr 20%;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
nav{
    grid-area: a;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
main{
    grid-area: b;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
header{
    grid-area: h;
}
/*a= 0 b= 0 c= 1 -> Especificidad = 1*/
footer{
    grid-area: f;
}
/*a= 1 b= 0 c= 0 -> Especificidad = 100*/
#protagonistas{
    display: flex;
}
@media only screen and (max-width: 768px) {
    /*a= 0 b= 0 c= 1 -> Especificidad = 1*/
    body { display: block; }
    /*a= 1 b= 0 c= 0 -> Especificidad = 100*/
    #protagonistas { display: block; }
  }